<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="EndtConnectionString" connectionString="metadata=res://*/3EndTCommerceModel.csdl|res://*/3EndTCommerceModel.ssdl|res://*/3EndTCommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BC-PC\SQL2008_R2;initial catalog=3EndTCommerce;user id=sa;password=abc123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BC-PC\SQL2008_R2;initial catalog=3EndTCommerce;user id=sa;password=abc123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EndtCommerceEntities" connectionString="metadata=res://*/EndCommerceModel.csdl|res://*/EndCommerceModel.ssdl|res://*/EndCommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=3EndTCommerce;user id=sa;password=abc123#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EndtCommerceEntities" connectionString="metadata=res://*/EndtCommerceModel.csdl|res://*/EndtCommerceModel.ssdl|res://*/EndtCommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3endtshop.com;initial catalog=3EndTCommerce;user id=3endtshop_db;password=!@db001_Endt$hop;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
