@font-face {
    font-family: 'pt';
    src: url('../fonts/PTSans/PTS55F-webfont.eot');
    src: url('../fonts/PTSans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTS55F-webfont.svg#pt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ptbold';
    src: url('../fonts/PTSans/PTS75F-webfont.eot');
    src: url('../fonts/PTSans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTS75F-webfont.svg#ptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ptsnitalic';
    src: url('../fonts/PTSans/PTS56F-webfont.eot');
    src: url('../fonts/PTSans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTS56F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTS56F-webfont.svg#ptsnitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ptsnbolditalic';
    src: url('../fonts/PTSans/PTS76F-webfont.eot');
    src: url('../fonts/PTSans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTS76F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTS76F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTS76F-webfont.svg#ptsnbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ptsn';
    src: url('../fonts/PTSans/PTSN/PTN57F-webfont.eot');
    src: url('../fonts/PTSans/PTSN/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTSN/PTN57F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTSN/PTN57F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTSN/PTN57F-webfont.svg#ptsn') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ptsnbold';
    src: url('../fonts/PTSans/PTSN/PTN77F-webfont.eot');
    src: url('../fonts/PTSans/PTSN/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTSN/PTN77F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTSN/PTN77F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTSN/PTN77F-webfont.svg#ptsnbold') format('svg');
    font-weight: normal;
    font-style: normal;

}