<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Client.master.cs" Inherits="_3EndTCommercePresentation.MasterPages.Client" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>3ENDT</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT" />

    <link rel="apple-touch-icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/favicon-114x114.png" />
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" />
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" />
    <link type="text/css" rel="stylesheet" href="/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css" />
    <%--<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />--%>
    <link type="text/css" rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="/vendors/jplist/html/css/jplist-custom.css" />
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="/vendors/animate.css/animate.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/jquery-pace/pace.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/iCheck/skins/all.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/jquery-notific8/jquery.notific8.min.css" />
    <link type="text/css" rel="stylesheet" href="/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="/css1/themes/style1/orange-blue.css" class="default-style" />
    <link type="text/css" rel="stylesheet" href="/css1/themes/style1/orange-blue.css" id="theme_change"
        class="style-change color-change" />
    <link type="text/css" rel="stylesheet" href="/css1/style-responsive.css" />

    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
        <div>

            <!--BEGIN BACK TO TOP-->
            <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
            <!--END BACK TO TOP-->
            <!--BEGIN TOPBAR-->
            <div id="header-topbar-option-demo" class="page-header-topbar">
                <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;"
                    class="navbar navbar-default navbar-static-top">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle">
                            <span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a id="logo" href="../Default.aspx">
                            <img src="../images/logo.jpg" alt="3endt" style="height: 100%" /></a>
                    </div>
                    <div class="topbar-main">
                        <a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                        <ul class="nav navbar navbar-top-links navbar-right mbn">
                            <li><a href="tel:2814702010"><i class="fa fa-phone"></i>&nbsp;281-470-2010</a>
                            </li>
                            <li><a href="https://www.facebook.com/3endt"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/3endt"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/3endt"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--END TOPBAR-->
            <div id="wrapper">
                <!--BEGIN SIDEBAR MENU-->
                <asp:HiddenField ID="hdnNav" runat="server" />
                <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
                    <div class="sidebar-collapse menu-scroll">
                        <ul id="side-menu" class="nav">
                            <li>
                                <div class="clearfix"></div>
                            </li>
                            <li class="active"><a href="../Default.aspx"><i class="fa fa-radiation fa-fw">
                                <div class="icon-bg bg-orange"></div>
                            </i><span class="menu-title">Home</span></a></li>
                            <li><a href="#"><i class="fa fa-radiation fa-fw">
                                <div class="icon-bg bg-red"></div>
                            </i><span class="menu-title">PRODUCTS</span><span class="fa arrow"></span></a>
                                <%--<ul class="nav nav-second-level">--%>
                                <asp:Literal ID="ltProductItems" runat="server" />
                                <%--</ul>--%>
                            </li>
                            <li><a href="#"><i class="fa fa-radiation fa-fw">
                                <div class="icon-bg bg-red"></div>
                            </i><span class="menu-title">SERVICES</span><span class="fa arrow"></span></a>
                                <%--<ul class="nav nav-second-level">--%>
                                <asp:Literal ID="ltServiceItems" runat="server" />
                                <%--</ul>--%>
                            </li>
                            <li><a href="/client/about-us.aspx"><i class="fa fa-radiation fa-fw">
                                <div class="icon-bg bg-yellow"></div>
                            </i><span class="menu-title">ABOUT US</span></a>
                            </li>
                            <li><a href="/client/contact-us.aspx"><i class="fa fa-radiation fa-fw">
                                <div class="icon-bg bg-yellow"></div>
                            </i><span class="menu-title">CONTACT US</span></a>
                            </li>
                            <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>-->
                        </ul>
                    </div>
                </nav>
                <!--END SIDEBAR MENU-->
                <!--BEGIN PAGE WRAPPER-->
                <asp:ContentPlaceHolder ID="CoreContentHolder" runat="server">
                </asp:ContentPlaceHolder>
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <center>
                    <h4>High Quality NDT Equipment</h4>
                    <div class="copyright">Copyright 2017 | 3endt. All rights reserved.</div>
                        </center>
                </div>
                <!--END FOOTER-->
                <!--END PAGE WRAPPER-->
            </div>
        </div>
        <script src="/js1/jquery-1.10.2.min.js"></script>
        <script src="/js1/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js1/jquery-ui.js"></script>
        <!--loading bootstrap js-->
        <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="/js1/html5shiv.js"></script>
        <script src="/js1/respond.min.js"></script>
        <script src="/vendors/metisMenu/jquery.metisMenu.js"></script>
        <script src="/vendors/slimScroll/jquery.slimscroll.js"></script>
        <script src="/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="/vendors/iCheck/icheck.min.js"></script>
        <script src="/vendors/iCheck/custom.min.js"></script>
        <script src="/vendors/jquery-notific8/jquery.notific8.min.js"></script>
        <script src="/vendors/jquery-highcharts/highcharts.js"></script>
        <script src="/js1/jquery.menu.js"></script>
        <script src="/vendors/jquery-pace/pace.min.js"></script>
        <script src="/vendors/holder/holder.js"></script>
        <script src="/vendors/responsive-tabs/responsive-tabs.js"></script>
        <script src="/vendors/jquery-news-ticker/jquery.newsTicker.min.js"></script>
        <script src="/vendors/moment/moment.js"></script>
        <script src="/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!--CORE JAVASCRIPT-->
        <script src="/js1/main.js"></script>
        <!--LOADING SCRIPTS FOR PAGE-->
        <script src="/vendors/jplist/html/js/vendor/modernizr.min.js"></script>
        <script src="/vendors/jplist/html/js/jplist.min.js"></script>
        <script src="/js1/jplist.js"></script>

    </form>
</body>
</html>
