<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="600"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <roleManager enabled="true"/>  
  </system.web>
  <appSettings>
    <add key="ToEmailIds" value="3ewebsales-dl@aspendora.com"/>
    <add key="CCEmailIds" value="sameer@3endt.com,raj_ralhan@hotmail.com"/>
    <add key="ToEmailName" value="3endt Sales"/>
    <add key="SmtpHost" value="m1.aspendora.com"/>  
    <add key="FromEmailId" value="noreply@3endt.com"/>
    <add key="FromEmailPassword" value="arvixe101"/>
    <add key="FromEmailName" value="3endt Customer"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CacheHours" value="6"/>
    <add key="DocumentDirectory" value="/documents/"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EndtCommerceEntities" connectionString="metadata=res://*/EndtCommerceModel.csdl|res://*/EndtCommerceModel.ssdl|res://*/EndtCommerceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADITI-3ENDT\SQLExpress;initial catalog=3EndTCommerce;user id=3endtshop_db;password=!@db001_Endt$hop;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EndtCommerceEntities" connectionString="data source=oak.arvixe.com;initial catalog=3EndTCommerce_DEV;user id=3endt_DEV;password=3endt_DEV;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
</configuration>